*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.card{
    background: linear-gradient(62deg, #FBAB7E, #F7EC68);
    border-radius: 12px;
    font-family: "Century Gothic", sans-serif;
    align-items: center;
    justify-content: space-between;
    margin: 100px auto 0;
    padding: 25px 30px;
    width: 80%;
    max-width: 450px;
}

.search-button{
    margin-left: 2px;
    background-color: transparent;
    height: 30px;
    width: 30px;
    border-radius: 12px;
}

.search-city input{
    border-radius: 12px;
    font-size: 20px;
    width: 250px;
    height: 30px;
    margin-bottom: 30px;
}

::-webkit-input-placeholder{
    text-align: center;
}



.weather{
    align-items: center;
    
}

.weather i{
    font-size: 100px;
    margin-bottom: 10px;
}

.weather h1{
    font-size: 50px;
}

.weather h2{
    margin-top: -10px;
    font-size: 30px;
}

.weather h3{
    margin-top: -10px;
    font-size: 15px;
}

.weather-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10em;
}

.weather-info i{
    font-size: 40px;
    margin-bottom: -15px;

}



